.form-wrapper {
    position: relative;
    width: 100%;
}

.form-input {
    border-radius: 50px;
    border: 2px solid var(--blue-dark);
    color: var(--blue-dark);
    padding-right: 45px;
    padding: 10px 0 10px 30px;
    width: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

@media (min-width: 768px) {
    .form-input {
        font-size: 1rem;
        padding: 20px 0 20px 30px;
    }
}

.form-button {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    height: 100%;
    padding-right: 15px;
    position: absolute;
    right: 0;
    width: 40px;
}