.form-wrapper {
    position: relative;
    width: 100%;
}

.form-input {
    width: 100%;
    color: var(--blue-dark);
    padding: 10px 0 10px 30px;
    padding-right: 45px;
    border: 2px solid var(--blue-dark);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

@media (min-width: 768px) {
    .form-input {
        padding: 20px 0 20px 30px;
        font-size: 1rem;
    }
}

.form-button {
    position: absolute;
    right: 0;
    padding-right: 15px;
    width: 40px;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}