.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.nav-brand {
    display: none;
}

.nav-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: 768px) {
    .nav-wrapper {
        width: auto;
    }
}

.nav-wrapper span {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav {
    display: none;
}

@media (min-width: 768px) {
    .nav {
        display: flex;
        gap: 20px;
    }
}

.nav-mobile>nav {
    left: -100px;
}

@media (min-width: 768px) {
    .menu-button {
        display: none;
    }
}

.isOpen {
    align-items: center;
    background: #FFFFFF;
    border-bottom: 10px solid #000000;
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    font-weight: bold;
    gap: 20px;
    height: 100vh;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all .3s ease;
    width: 100vw;
    z-index: 50;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.nav-mobile-icon {
    height: 39px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
}

.nav-item {
    color: var(--blue-dark);
    text-transform: capitalize;
}

.nav-item:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .nav-wrapper span {
        display: none;
    }

    .nav-brand {
        display: block;
    }
}